body {
    background-color: #FFFAE6;
    font-family: "courier", monospace;
    margin: 10%;
    padding: 10%;

}

h1 {
    color: #FF5F00;
    text-align: center;
    font-size: 3em;
}

#info {
    text-align: center;
    font-size: 1.5em;
    border: #FFFAE6;
}

input:focus {
    outline: none;
    border: 10px #f00a0a;
}